################################################################
# Global configuration
################################################################
logLevel = "DEBUG"

# Entrypoints to be used by frontends that do not specify any entrypoint.
# Each frontend can specify its own entrypoints.
defaultEntryPoints = ["http", "https"]

[entryPoints]
  [entryPoints.http]
  address = ":80"
  [entryPoints.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]

################################################################
# ACME (Let's Encrypt): automatic SSL
################################################################
[acme]
email = "admin@nua.media"
Storage = "acme.json"
entryPoint = "https"
onHostRule = true
onDemand = false
caServer = "https://acme-staging.api.letsencrypt.org/directory"

[[acme.domains]]
  main = "nua.media"

################################################################
# Web configuration backend
################################################################
[web]

address = ":8080"
  [web.auth.basic]
  users = ["admin:$apr1$BpTrStyg$/Mi6lMRwn8ITinXi/BqjS/"]

################################################################
# Docker configuration backend
################################################################
[docker]

# Docker server endpoint. Can be a tcp or a unix socket endpoint.
endpoint = "unix:///var/run/docker.sock"

# Default domain used.
# Can be overridden by setting the "traefik.domain" label on a container.
domain = "docker.local"

# Enable watch docker changes
watch = true

################################################################
# Web configuration backend
################################################################

# Enable web configuration backend


################################################################
# Docker configuration backend
################################################################

[frontends]
  [frontends.frontend1]
  backend = "nuaco"
    [frontends.frontend1.routes.test_1]
    rule = "Host:www.nua.co,nua.co"
[frontends.frontend2]
  backend = "c2ostudio"
    [frontends.frontend2.routes.test_2]
    rule = "Host:www.c2o.studio,c2o.studio"
