################################################################
# Global configuration
################################################################

# Enable debug mode
#
# Optional
# Default: false
#
# debug = true

# Log level
#
# Optional
# Default: "ERROR"
#


# Entrypoints to be used by frontends that do not specify any entrypoint.
# Each frontend can specify its own entrypoints.
#
# Optional
# Default: ["http"]
#
debug = true
checkNewVersion = true
logLevel = "ERROR"

 [entryPoints.http]
 address = ":80"

[retry]

[docker]
endpoint = "unix:///var/run/docker.sock"
domain = "nua.media"
watch = true

# [acme]
# email = "martin@nua.co"
# storageFile = "acme/acme.json"
# entryPoint = "https"
# OnHostRule = true
#
# [acme.httpChallenge]
#
#   # EntryPoint to use for the HTTP-01 challenges.
#   #
#   # Required
#   #
#   entryPoint = "http"
#

# Traefik logs
# Enabled by default and log to stdout
#
# Optional
#
# [traefikLog]

# Sets the filepath for the traefik log. If not specified, stdout will be used.
# Intermediate directories are created if necessary.
#
# Optional
# Default: os.Stdout
#
# filePath = "log/traefik.log"

# Format is either "json" or "common".
#
# Optional
# Default: "common"
#
# format = "common"

# Enable access logs
# By default it will write to stdout and produce logs in the textual
# Common Log Format (CLF), extended with additional fields.
#
# Optional
#
# [accessLog]
accessLogsFile = "/dev/stdout"
# Sets the file path for the access log. If not specified, stdout will be used.
# Intermediate directories are created if necessary.
#
# Optional
# Default: os.Stdout
#
# filePath = "/path/to/log/log.txt"

# Format is either "json" or "common".
#
# Optional
# Default: "common"
#
# format = "common"

################################################################
# Web configuration backend
################################################################

# Enable web configuration backend
[web]

# Web administration port
#
# Required
#
address = ":8080"

################################################################
# Docker configuration backend
################################################################

[frontends]
  [frontends.frontend1]
  backend = "nuaco"
    [frontends.frontend1.routes.test_1]
    rule = "Host:www.nua.co,nua.co"
[frontends.frontend2]
  backend = "c2ostudio"
    [frontends.frontend2.routes.test_2]
    rule = "Host:www.c2o.studio,c2o.studio"
